@import '../../../_variables.scss';

.root {
    display: flex;
    flex-wrap: wrap;
    background-color: #33353F;
    margin-top: 30px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
  },
.gridList {
    width: 800px;
    overflowY: visible;
    background-color:#33353F;
}
.review {
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    height:30px;
    border-width: 3px;
    border-bottom-color: #FF9800;
    border-bottom-style: inset;
    background-color: #303030;
    padding: 6px 0px 6px 8px;
}
.box {
    margin-right: 10px;
    background-color: #33353F;
    margin-bottom: 10px;
}