body {
  background-color: "#1a1a1a"
}
.login-card{
  width: 35%;
  margin: auto;
  margin-top: 8%;
  text-align: center;
  background-color: transparent !important;
  box-shadow: 0 !important;
}
.form-card{
  background-color: #333 !important;
  padding-top: 70px;
  padding-bottom: 70px;
}
.img-logo{
  width: 150px;
}
.form-login{
  font-size: 20px !important;
  label {
    color :#FB8C00 !important;
  }
  input{
    color: rgba(255,255,255,0.8) !important;
  }
}
.btn-login{
  margin-top: 30px;
  width: 50%;
  color: white;
}
