.login-card{
  width: 40%;
  margin: auto;
  margin-top: 8%;
  text-align: center;
  background-color: transparent !important;
  box-shadow: 0 !important;
}
.form-card{
  margin-top: 30px;
  background-color: #333 !important;
  padding: 0px 30px 30px;
}
.img-logo{
  width: 200px;
}
.form-login{
  font-size: 20px !important;
  label {
    color :#FB8C00 !important;
  }
  input{
    color: rgba(255,255,255,0.8) !important;
  }
}
.btn-login{
  margin-top: 30px;
  width: 90%;
}
