@import '../../../_variables.scss';

.root {
    display: flex;
    flex-wrap: wrap;
    background-color: #33353F;
    margin-top: 30px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
  },
.img_style{
      height: 10%;

},
.gridList {
    width: 800px;
    overflowY: visible;
    background-color:#33353F;
}
