@import '../../../_variables.scss';
.recharts-responsive-container{
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2% 0;
  background-color: #333;
}
.recharts-tooltip-wrapper {
  color: #35353F
}
