.container{
    display: flex;
    flex-direction: column;
    .label {
        font-size: 14px;
        font-weight: 900;
        flex-direction: row;
        display: block;
        margin-bottom: 10px;
}

}
.cbb_spin{
  position: relative !important;
  margin-top: 35px;
}
