@import '../../../_variables.scss';
.menu-drawer, .menu-lost{
  height: 100%;
  background-color: $bg-menu;
  position: fixed;
  overflow: hidden;
  transition: 1s all ease;
}
.menu-drawer{
  width: 18%;
}
.menu-lost{
  width: 0;
}
